# Todo cambio en este repo requiere review. Reemplazar por los usuarios de GitHub reales
# (o crear un team @grupo16-discordia/arquitectura en la organización y usar eso).
#
 
*  @Trocha4 @MiltonFormiga @luistrebejoIt @franmazzaro @Brun0cnt @FelipeAbadMustillo
